#root {
  width: 100%;
}

@font-face {
  font-family: 'Axiforma';
  src: url(./utils/fonts/AxiformaRegular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url(./utils/fonts/Axiforma-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Axiforma';
  src: url(./utils/fonts/Axiforma-SemiBold.ttf) format("truetype");
  font-weight: 500;
}